<header class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 header-label d-flex">
            <div class="d-flex flex-column header-txt my-auto text-center text-md-right mx-auto mx-md-0 ml-md-auto mr-md-5">
                <h2 class="raleway-extra hello">
                    Super Casco
                    polisa na rok
                    już od 49zł
                </h2>
                <p class="mont-light my-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet tincidunt elit, non dapibus ipsum auctor accumsan. Integer hendrerit lacus non accumsan pellentesque. 
                </p>
                <a class="mont-med mx-auto mx-md-0 ml-0 ml-md-auto btn_main px-3 py-2 nav-link text-dark" href="#calculator">Oblicz składkę</a>
            </div>
        </div>
        <div class="col-12 col-md-6 header-img"></div>
    </div>
</header>