<section class="page-section bg_contact py-5" id="kontakt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-3 raleway-extra">Pytania? </h2>
                <h2 class="text-white mb-5 raleway-extra">Skontaktuj się z naszym konsultantem!</h2>
                <hr class="divider light my-4" />
                <p class="text-white my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet tincidunt elit, non dapibus ipsum auctor accumsan. Integer hendrerit lacus non accumsan pellentesque.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
            </div>
        </div>
    </div>
</section>