<header class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 header-label d-flex">
            <div class="d-flex flex-column header-txt my-auto mx-auto">
                <h2 class="raleway-extra hello mb-5">
                    O nas
                </h2>
                <p class="mont-light mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet tincidunt elit, non dapibus ipsum auctor accumsan. Integer hendrerit lacus non accumsan pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet tincidunt elit, non dapibus ipsum auctor accumsan. Integer hendrerit lacus non accumsan pellentesque. 
                </p>
                <a class="mont-med mr-auto my-3 btn_main px-3 py-2 nav-link text-dark" href="#calculator">Poznaj nasz zespół</a>
            </div>
        </div>
        <div class="col-12 col-md-6 header-img"></div>
    </div>
</header>